{{#partial "content"}}
    {{#if team}}
        {{#if member}}
            <h2>Update Member:</h2>

            <form action="/teams/{{team.id}}/members/{{member.id}}/update" method="post">

                <label for="name">Edit Name:</label>
                <input type="text" name="name" id="name" value="{{member.name}}"><br>
                <label for="email">Edit Email:</label>
                <input type="text" name="email" id="email" value="{{member.email}}"><br>
                <label for="phone">Edit Phone:</label>
                <input type="text" name="phone" id="phone" value="{{member.phone}}"><br>
        {{else}}
            <h2>Update team:</h2>

            <form action="/teams/{{team.id}}/update" method="post">

                <label for="name">Edit Team Name:</label>
                <input type="text" name="name" id="name" value="{{team.name}}"><br>

                <label for="description">Edit Team Description:</label>
                <input type="text" name="description" id="description" value="{{team.description}}"><br>
        {{/if}}

    {{else}}
        <h2>Add new team:</h2>

        <form action="/teams/add" method="post">

            <label for="name">Enter Team Name:</label>
            <input type="text" name="name" id="name"><br>

            <label for="description">Enter Team Description:</label>
            <input type="text" name="description" id="description"><br>
    {{/if}}


        <button type="submit" class="btn btn-info">Save</button>
    </form>
        <hr>

{{/partial}}

{{> layout.hbs}}