{{#partial "content"}}
    <h2>{{member.name}}</h2>
    <h4>Email: {{member.email}}</h4>
    <h4>Phone: {{member.phone}}</h4>
    <h4>Team: {{team.name}}</h4>
    <hr>
    <a href="/teams/{{team.id}}/members/{{member.id}}/update">Update</a><br>
    <a href="/teams/{{team.id}}/members/{{member.id}}/delete">Delete</a>
    <hr>
{{/partial}}

{{> layout.hbs}}