{{#partial "content"}}

    <h1>Success!</h1>
    {{#if team}}
        {{#if member}}
            {{#if delete}}
                Your member has been deleted
            {{else}}
                Your member has been updated
            {{/if}}

        {{else}}
            Your team has been updated.
        {{/if}}

        <a href="/teams/{{team.id}}">Return to team detail</a>
    {{else}}
        {{#if add}}
            Your team has been created.
        {{else}}
            Your team has been deleted.
        {{/if}}
        <a href="/teams">Go to team list</a>
    {{/if}}







{{/partial}}

{{> layout.hbs}}