{{#partial "content"}}
    <h2>{{team.name}}</h2>
    <h5>{{team.description}}</h5>
    <h4>Members:</h4>
    <ul>
        {{#each team.members}}
            <li><strong>{{name}}</strong> <a href="/teams/{{team.id}}/{{id}}/update">Update</a>   <a href="/teams/{{team.id}}/{{id}}/delete">Delete</a></li>
        {{/each}}
    </ul>
    {{#if team.full}}
        <h3>This team is full!</h3>
    {{else}}
        <form action="/teams/{{team.id}}" method="post">
            <input type="text" name="member" placeholder="Add member">
            <button type="submit">Add</button>
        </form>
    {{/if}}


    <a href="/teams/{{team.id}}/update">Update Team Details</a><br>
    <a href="/teams/{{team.id}}/delete">Delete Team</a>
{{/partial}}

{{> layout.hbs}}