{{#partial "content"}}
    <h1>{{team.name}}</h1>
    <h4>{{team.description}}</h4>
    <h3>Members:</h3>
    <ul>
        {{#each team.members}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
    {{#if team.full}}
        <h3>This team is full!</h3>
    {{else}}
        <form action="/teams/{{team.id}}" method="post">
            <input type="text" name="member" placeholder="Add member">
            <button type="submit">Add</button>
        </form>
    {{/if}}


    <a href="/teams/{{team.id}}/update">Update Team Details</a>
{{/partial}}

{{> layout.hbs}}