{{#partial "content"}}
    <h2>{{team.name}}</h2>
    <h5>{{team.description}}</h5>
    <h4>Members:</h4>
    {{#if members}}
        <ul>
            {{#each members}}
                <li><strong>{{name}}</strong> <a href="/teams/{{teamId}}/members/{{id}}">Details</a> <a href="/teams/{{teamId}}/members/{{id}}/update">Update</a>   <a href="/teams/{{teamId}}/members/{{id}}/delete">Delete</a></li>
            {{/each}}
        </ul>
    {{else}}
        <h5>There are no members in this team</h5>
    {{/if}}

    <hr>
    {{#if full}}
        <h3>This team is full!</h3>
    {{else}}
        <h4>Add member:</h4>
        <form action="/teams/{{team.id}}/members/add" method="post">
            <input type="text" name="name" placeholder="Enter member name"><br>
            <input type="text" name="email" placeholder="Enter member email"><br>
            <input type="text" name="phone" placeholder="Enter member phone"><br>
            <button type="submit">Add</button>
        </form>
    {{/if}}

    <hr>
    <a href="/teams/{{team.id}}/update">Update Team Details</a><br>
    <a href="/teams/{{team.id}}/delete">Delete Team</a>
    <hr>
{{/partial}}

{{> layout.hbs}}